<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
		<hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
				Driven, Adaptive, and Dependable, I have a total of 2½ years experience in the Software Industry.
				This spans my current role as a Full-Stack Python developer and previous experience in Full-Stack Java/Android roles.
			</p>
			<p>
				My skills are currently focussed around rapidly developing new features for a web-application using Python 3.7, Flask, Splunk, and Docker.
				I am always looking to expand my skillset and learn more, currently looking to branch into React.js, AWS, and CD/CI pipelines.
            </p>
        </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
				<li>
					Graduated with a Bachelor of Engineering (Software) (First-class honours) from the University of Newcastle, Australia.
    			<li>
					Planned, designed, and led a 10-person team to create open-source software for a client. <a href="https://koosvary.github.io/Iconic/docs/index">Check it out here.</a>
    			</li>
				<li>
					Implemented new features, fixed bugs, mentored others, and reviewed code for a web-based CRM software.
				</li>
				<li>
					Designed and architected an Android application for use in Logistics & Fleet Management.
				</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
