<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
		<hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
				My name is Jayden and I have three years’ experience developing applications across the entire software stack.
				I possess intimate knowledge of both front-end and back-end systems and come with leadership experience too! 
			</p>
			<p>
				My professional experience spans the entire lifecycle of web based SAAS applications including planning & design, implementation, testing, and deployment. I'm always looking to learn, and have been learning ReactJS and NodeJS in my personal time.
            </p>
        </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
				<li>
					Graduated with a Bachelor of Engineering (Software) (First-class honours) from the University of Newcastle, Australia.
    			<li>
					Planned, designed, and led a 10-person team to create open-source software for a client. <a href="https://koosvary.github.io/Iconic/docs/index">Check it out here.</a>
    			</li>
				<li>
					Experience owning projects from conception to implementation, delegating and mentoring other developers along the way.
				</li>
				<li>
					Excellent problem-solving and critical thinking skills, coupled with interpersonal skills wrapped in a friendly demeanour.
				</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
