<section class="tout" id="experience">
    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Experience</h2>
				<hr class="tight"/>
			</div>
		</div>
		<div class="row">
			<div class="centeredmenu">
				<ul>
					<li>
						<h4><a class="work-item" onclick="currentSlide(1)">Leading Directions</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(2)">Qvalent</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(3)">MyFleet</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(4)">ICONIC</a></h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<!-- Slideshow container -->
			<div class="slideshow-container">
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b>June 2021 - Current</b>
							<ul>
								<li>Python 3.7</li>
								<li>Splunk & mySQL</li>
								<li>Flask & jQuery</li>
								<li>Docker</li>
								<li>VSCode</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Full-Stack Python Developer</b>
							<ul>
								<li>
									Designing, implementing, and documenting new features for web-based CRM software.
								</li>
								<li>
									Mentoring developers, planning and delegating tasks, and reviewing code daily.
								</li>
								<li>
									Integrating with Splunk and mySQL to retrieve, edit, and save customer data.
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b>Jan 2018 - Nov 2018</b>
							<ul>
								<li>Java/Spring</li>
								<li>Hibernate/SQL</li>
								<li>Automated Testing</li>
								<li>RESTful APIs</li>
								<li>CI/CD</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Full-Stack Java Developer</b>
							<ul>
								<li>
									Maintaining, implementing, and testing features for a web-application in the finance industry.
								</li>
								<li>
									Adapting application features and UX design to meet client requirements
								</li>
								<li>
									Working in a highly collaborative agile environment with daily scrum's and monthly technical reviews.
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b>Apr 2017 - Jan 2018</b> 
							<ul>
							    <li>Java/Android Studio</li>
								<li>Google Firebase</li>
								<li>NoSQL</li>
								<li>Gradle</li>
								<li>Git</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Android Developer</b>
							<ul>
								<li>
									Designed and developed an Android application to track and manage vehicles in logistics fleets.
								</li>
								<li>
									Rapidly prototyped and showcased an abundance of features, adapting to client requests where necessary.
								</li>
								<li>
									Integrated with various hardware such as barcode scanners, bluetooth beacons, and GPS modems.
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b>Feb 2018 - Nov 2018</b> 
							<ul>
								<li>Java</li>
								<li>JavaFX</li>
								<li>Gradle</li>
								<li>Trello</li>
								<li>Git</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Project Lead</b>
							<ul>
								<li>
									Led a 10-person team to success in building a genetic-programming framework for a client.
								</li>
								<li>
									Worked closely with the client to elicit and analyse requirements, prototyping and showcasing results weekly.
								</li>
								<li>
									Planned, prioritised and delegated tasks via the Trello kanban board, integrated tasks with Git branches.
								</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
